<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="nojs"> <!--<![endif]-->
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <title>GE EDE Charts Index</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link id="theme-styles" href="marketing/css/mds.css" rel="stylesheet">
    <link id="theme-styles" href="marketing/css/mds-ie-overflow.css" rel="stylesheet">
    <link href="marketing/components/prettify/prettify.css" rel="stylesheet">
    <script type="text/javascript">
    var elm = document.getElementsByTagName('html')[0]
    elm.className = elm.className.split('nojs').join(' ')
    </script>
    

    <style>
		.label-review {
			background-color: #A62FDE !important;
			background-image: none !important;
		}
    </style>
  </head>

  <body>
    <!-- links to html templates for GE CoE Components -->
    <div class="container">
      <h2>Charts Examples</h2>
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Template</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>01</td>
            <td><a href="./charts/test/area.html">Area</a></td>
          </tr>
          <tr>
            <td>02</td>
            <td><a href="./charts/test/area-stacked.html">Area-Stacked</a></td>
          </tr>
          <tr>
            <td>03</td>
            <td><a href="./charts/test/bar.html">Bar</a></td>
          </tr>
          <tr>
            <td>04</td>
            <td><a href="./charts/test/bar-stacked.html">Bar-Stacked</a></td>
          </tr>
          <tr>
            <td>05</td>
            <td><a href="./charts/test/column.html">Column</a></td>
          </tr>
          <tr>
            <td>06</td>
            <td><a href="./charts/test/column-stacked.html">Column-Stacked</a></td>
          </tr>
          <tr>
            <td>07</td>
            <td><a href="./charts/test/donut.html">Donut</a></td>
          </tr>
          <tr>
            <td>08</td>
            <td><a href="./charts/test/line.html">Line</a></td>
          </tr>
          <tr>
            <td>09</td>
            <td><a href="./charts/test/line-with-labels.html">Line With Labels</a></td>
          </tr>
          <tr>
            <td>10</td>
            <td><a href="./charts/test/pie.html">Pie</a></td>
          </tr>
          <tr>
            <td>11</td>
            <td><a href="./charts/test/scatter.html">Scatter</a></td>
          </tr>
          <tr>
            <td>15</td>
            <td><a href="./charts/test/stock.html">Stock</a></td>
          </tr>
        </tbody>
      </table>
    </div>

  
  </body>
</html>
