<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="nojs"> <!--<![endif]-->
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <title>GE CoE New Component Review</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link id="theme-styles" href="../../ge-bootstrap/css/ge-bootstrap.css" rel="stylesheet">
    
    <link href="prettify/prettify.css" rel="stylesheet">
    <script type="text/javascript">
    var elm = document.getElementsByTagName('html')[0]
    elm.className = elm.className.split('nojs').join(' ')
    </script>
    

    <style>
		.label-review {
			background-color: #A62FDE !important;
			background-image: none !important;
		}
    </style>
  </head>

  <body>
    <div class="navbar">
      <div class="masthead navbar-inner">
        <div class="container">
          <a class="brand" href="#"><img src="../../ge-bootstrap/img/bitmap/ge-monogram.png"> Highcharts<small><i>powered by</i> GE CoE</small></a>
        </div>
      </div>
    </div>
    <!-- links to html templates for GE CoE Components -->
    <div class="container">
      <h2>Charts Examples</h2>
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Template IIDX</th>
            <th>Template HDX</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>01</td>
            <td><a href="iidx-area.html">Area</a></td>
            <td><a href="hdx-area.html">Area</a></td>
          </tr>
          <tr>
            <td>02</td>
            <td><a href="iidx-area-stacked.html">Area-Stacked</a></td>
            <td><a href="hdx-area-stacked.html">Area-Stacked</a></td>
          </tr>
          <tr>
            <td>03</td>
            <td><a href="iidx-bar.html">Bar</a></td>
            <td><a href="hdx-bar.html">Bar</a></td>
          </tr>
          <tr>
            <td>04</td>
            <td><a href="iidx-bar-stacked.html">Bar-Stacked</a></td>
            <td><a href="hdx-bar-stacked.html">Bar-Stacked</a></td>
          </tr>
          <tr>
            <td>05</td>
            <td><a href="iidx-column.html">Column</a></td>
            <td><a href="hdx-column.html">Column</a></td>
          </tr>
          <tr>
            <td>06</td>
            <td><a href="iidx-column-stacked.html">Column-Stacked</a></td>
            <td><a href="hdx-column-stacked.html">Column-Stacked</a></td>
          </tr>
          <tr>
            <td>07</td>
            <td><a href="iidx-donut.html">Donut</a></td>
            <td><a href="hdx-donut.html">Donut</a></td>
          </tr>
          <tr>
            <td>08</td>
            <td><a href="iidx-line.html">Line</a></td>
            <td><a href="hdx-line.html">Line</a></td>
          </tr>
          <tr>
            <td>09</td>
            <td><a href="iidx-line-with-labels.html">Line With Labels</a></td>
            <td><a href="hdx-line-with-labels.html">Line With Labels</a></td>
          </tr>
          <tr>
            <td>10</td>
            <td><a href="iidx-pie.html">Pie</a></td>
            <td><a href="hdx-pie.html">Pie</a></td>
          </tr>
          <tr>
            <td>11</td>
            <td><a href="iidx-scatter.html">Scatter</a></td>
            <td><a href="hdx-scatter.html">Scatter</a></td>
          </tr>
          <tr>
            <td>12</td>
            <td><a href="iidx-spiderweb.html">Spiderweb</a></td>
            <td><a href="hdx-spiderweb.html">Spiderweb</a></td>
          </tr>
          <tr>
            <td>13</td>
            <td><a href="iidx-spiderweb-comparison.html">Spiderweb-Comparison</a></td>
            <td><a href="hdx-spiderweb-comparison.html">Spiderweb-Comparison</a></td>
          </tr>
          <tr>
            <td>14</td>
            <td><a href="iidx-spiderweb-tiny.html">Spiderweb-Tiny</a></td>
            <td><a href="hdx-spiderweb-tiny.html">Spiderweb-Tiny</a></td>
          </tr>
          <tr>
            <td>15</td>
            <td><a href="iidx-stock.html">Stock</a></td>
            <td><a href="hdx-stock.html">Stock</a></td>
          </tr>
          <tr>
            <td>16</td>
            <td></td>
            <td><a href="hdx-threshold-bar.html">Threshold Bar</a></td>
          </tr>
          <tr>
            <td>17</td>
            <td></td>
            <td><a href="hdx-threshold-bar-lights-off.html">Threshold Bar Lights-off</a></td>
          </tr>
          <tr>
            <td>18</td>
            <td></td>
            <td><a href="hdx-threshold-line.html">Threshold Line</a></td>
          </tr>
          <tr>
            <td>19</td>
            <td></td>
            <td><a href="hdx-threshold-line-lights-off.html">Threshold Line Lights-off</a></td>
          </tr>
        </tbody>
      </table>
    </div>

  
  </body>
</html>
