<!doctype html>
<html>
<head>
  <title>Slider Component</title>
  <meta charset="utf8">
  <link href="../css/hdx-slider-lights-off.css" rel="stylesheet">
  <link href="../css/responsive.css" rel="stylesheet">
  <!--[if IE 9]>
      <link id="theme-ie9" href="../css/ie9.css" rel="stylesheet" type="text/css">
  <![endif]-->
  
  <style>
/* These styles are for test page only. When component is used as part of project these styles should be inherited as part of project. */
 
	body { 
	 
	  background-color: #000000;
	}
</style>
</head>
<body>

  <div class="container">
  <div class="row">
    <h2>Example sliders</h2>
    <hr />
    <br />
    <div class="row">
      <input 
      class="slider span12" 
      type="range" 
      min="15" 
      max="1000" 
      value="200"
      data-slider-steps="1000"
      data-slider-highlight="#0098d6" 
      data-slider-tickmarks='4'
      data-slider-scale='5'
      data-slider-label-position='left'
      data-slider-label-value=""
      data-slider-snap='true'
      data-slider-label-suffix=" Rpm"
      data-slider-button-position="apart"
      />
      
      <br>
      <input 
      class="slider span12" 
      type="range" 
      min="0" 
      max="10" 
      value="5"
      data-slider-steps="10"
      data-slider-highlight="#0098d6" 
      data-slider-label-position='left'
      data-slider-snap='true'
      data-slider-label-suffix=" Rpm"
      data-slider-button-position="apart"
      />
      
       <br>
      <input 
      class="slider span12" 
      type="range" 
      min="0" 
      max="10" 
      value="5"
      data-slider-steps="10"
      data-slider-highlight="#0098d6" 
      data-slider-label-position='right'
      data-slider-snap='true'
      data-slider-label-suffix=" Rpm"
      data-slider-button-position="apart"
      />
      
       <br>
      <input 
      class="slider span12" 
      type="range" 
      min="0" 
      max="10" 
      value="5"
      data-slider-steps="10"
      data-slider-highlight="#0098d6" 
      data-slider-label-position='right'
      data-slider-snap='true'
      data-slider-label-suffix=" Rpm"
      data-slider-button-position="together"
      />
      
      
      
      
      <!-- No label --->
      <input 
      class="slider span7" 
      type="range" 
      min="0" 
      max="1000" 
      value="0"
      />
      
      <!-- no buttons, no labels, no step -->
      <input 
      class="slider span6" 
      type="range" 
      min="0" 
      max="200" 
      value="100" 
      data-slider-buttons="false" 
      />
      
      
      
      <!-- label inside , no buttons-->
      <input 
      class="slider span10" 
      type="range" 
      min="100" 
      max="1000" 
      value="400"
      data-slider-buttons='false'
      data-slider-label-position="inside"
      />
      <!--label inside, buttons apart -->
      <input 
      class="slider span5" 
      type="range" 
      min="500" 
      max="1000" 
      value="0"
      data-slider-buttons='true'
      data-slider-label-position="inside"
      />
      <!-- label inside, buttons aprt, scale, no ticks -->
      
      <input 
      class="slider span8" 
      type="range" 
      min="0" 
      max="1000" 
      value="399"
      data-slider-buttons='true'
      data-slider-button-position="apart"
      data-slider-label-position="inside"
      data-slider-scale="10"
      />
      
      <!--button, labels,  scale -->
      <input 
      class="slider span8" 
      type="range" 
      min="0" 
      max="1000" 
      value="750"
      data-slider-buttons='true'
      data-slider-button-position="together"
      data-slider-label-position="inside"
      data-slider-scale="10"
      data-slider-tickmarks="10"
      />
     
     <!-- Suffix & prefix,  Buttosn, ticks, scale -->
      <input 
      class="slider span8" 
      type="range" 
      min="0" 
      max="1000" 
      value="10"
      data-slider-buttons='true'
      data-slider-button-position="apart"
      data-slider-label-position="outside"
      data-slider-scale="10"
      data-slider-tickmarks="10"
      data-slider-steps="100"
      data-slider-snap="true"
      data-slider-label-prefix="$"
      data-slider-label-suffix=".00"
      />

      
    </div>
  </div>
  <br />
  <hr />
  <br />
  <div class="container">

    <div class="row">
      
    </div>
  </div>
  </br>
  <div class="container">
    <div class="row">
      <input 
      class="slider span10" 
      type="range" 
      min="0" 
      max="500" 
      value="150" 
      data-slider-label-prefix="$" 
      data-slider-label-suffix=".00" 
      data-slider-button-position="together" 
      data-slider-highlight="#0098d6" 
      data-slider-tickmarks="0" 
      data-slider-label-position="inside" 
      data-slider-scale="5" 
      data-slider-buttons="true" 
      data-slider-snap="true"
      data-slider-steps="5"
      />
    </div>
  </div>


  <br />

  <div class="container">
    <div class="row">
      <input 
      class="slider span10" 
      type="range" 
      min="0" 
      max="500" 
      value="150" 
      data-slider-label-prefix="$"
      data-slider-label-suffix=".00"
      data-slider-button-position="apart"
      data-slider-highlight="#ff5400"
      data-slider-tickmarks="3"
      data-slider-label-position="outside"
      data-slider-scale="10"
      data-slider-buttons="true"
      data-slider-snap="true"
      data-slider-steps="10"
      />
    </div>
  </div>

  <br />

  <div class="container">
    <div class="row">
      <input 
      class="slider span10" 
      type="range" 
      min="0" 
      max="500" 
      value="150" 
      data-slider-tickmarks="5"
      data-slider-label-prefix=""
      data-slider-label-suffix=" BTC"
      data-slider-button-position="together"
      data-slider-highlight="#009ae1"
      data-slider-label-position="outside"
      data-slider-scale="5"
      data-slider-buttons="true"
      data-slider-snap="true"
      />
    </div>
  </div>

  <br />

  <div class="container">
    <div class="row">
      <input 
      class="slider span6" 
      type="range" 
      min="0" 
      max="500" 
      value="150" 
      data-slider-label-prefix=""
      data-slider-label-suffix=" BTC"
      data-slider-button-position="apart"
      data-slider-highlight="orange"
      data-slider-tickmarks="8"
      data-slider-label-position="inside"
      data-slider-scale="8"
      data-slider-buttons="true"
      data-slider-snap="true"
      />
    </div>
  </div>

  <br/>

  <div class="container">
    <div class="row">
      <input 
      class="slider span6" 
      type="range" 
      min="0" 
      max="500" 
      value="150" 
      data-slider-label-prefix=""
      data-slider-label-suffix=" BTC"
      data-slider-button-position="apart"
      data-slider-highlight="orange"
      data-slider-tickmarks="0"
      data-slider-label-position="inside"
      data-slider-scale="8"
      data-slider-buttons="true"
      data-slider-snap="true"
      />
    </div>
  </div>

  <br/>
  <div class="container">
    <div class="row">
      <input class="slider span7" type="range" min="0" max="500" value="150" 
      data-slider-snap="true" />
    </div>
  </div>
  <br />
  <div class="container">
    <div class="row">
      <input class="slider span5" type="range" min="0" max="500" value="150" 
      data-slider-snap="true" />
    </div>
  </div>
  

  <script src="../components/requirejs/require.js"></script>
  <script src="../js/require.config.js"></script>
  <script type="text/javascript">
    require.config({
      baseUrl: '../'
    });
    require(['jquery','slider'], function ($, slider) {
      $('.slider').slider({
        
       

      });
    });
  </script>

</body>
</html>
