<!doctype html>
<html>
<head>
  <title>Slider Component</title>
  <meta charset="utf8">
  <link href="../css/iidx-slider.css" rel="stylesheet">
  <link href="../css/responsive.css" rel="stylesheet">
  <!--[if IE 9]>
      <link id="theme-ie9" href="../css/ie9.css" rel="stylesheet" type="text/css">
  <![endif]-->
</head>
<body>

  <div class="container">
  <div class="row">
    <h2>Example sliders</h2>
    <hr />
    <br />
    <div class="row">
      <input 
      class="slider span10" 
      type="range" 
      min="15" 
      max="1000" 
      value="200"
      data-slider-steps="1000"
      data-slider-highlight='red'
      data-slider-tickmarks='4'
      data-slider-scale='5'
      data-slider-label-position='left'
      data-slider-label-value=""
      data-slider-snap='true'
      data-slider-label-suffix=" Rpm"
      data-slider-button-position="together"
      />
      <input 
      class="slider span7" 
      type="range" 
      min="0" 
      max="1000" 
      value="0"
      />
      <input 
      class="slider span6" 
      type="range" 
      min="0" 
      max="200" 
      value="100" 
      data-slider-buttons="false" 
      />
      <input 
      class="slider span5" 
      type="range" 
      min="0" 
      max="500" 
      value="0" 
      data-slider-steps="10"
      />
      <input 
      class="slider span4" 
      type="range" 
      min="0" 
      max="500" 
      value="0"
      />
      <input 
      class="slider span3" 
      type="range" 
      min="0" 
      max="500" 
      value="0"
      />
      <input 
      class="slider span2" 
      type="range" 
      min="0" 
      max="500" 
      value="0"
      data-slider-buttons="false"
      />
      <input 
      class="slider span10" 
      type="range" 
      min="100" 
      max="1000" 
      value="400"
      data-slider-buttons='false'
      data-slider-label-position="inside"
      />
      <input 
      class="slider span5" 
      type="range" 
      min="500" 
      max="1000" 
      value="0"
      data-slider-buttons='true'
      data-slider-label-position="inside"
      />
      <input 
      class="slider span8" 
      type="range" 
      min="0" 
      max="1000" 
      value="800"
      data-slider-buttons='true'
      data-slider-button-position="together"
      data-slider-label-position="inside"
      />
      <input 
      class="slider span8" 
      type="range" 
      min="0" 
      max="1000" 
      value="399"
      data-slider-buttons='true'
      data-slider-button-position="together"
      data-slider-label-position="inside"
      data-slider-scale="10"
      />
      <input 
      class="slider span8" 
      type="range" 
      min="0" 
      max="1000" 
      value="750"
      data-slider-buttons='true'
      data-slider-button-position="together"
      data-slider-label-position="inside"
      data-slider-scale="10"
      data-slider-tickmarks="10"
      />
      <input 
      class="slider span8" 
      type="range" 
      min="0" 
      max="1000" 
      value="200"
      data-slider-buttons='true'
      data-slider-button-position="together"
      data-slider-label-position="inside"
      data-slider-scale="10"
      data-slider-tickmarks="10"
      />
      <input 
      class="slider span8" 
      type="range" 
      min="0" 
      max="1000" 
      value="500"
      data-slider-buttons='true'
      data-slider-button-position="together"
      data-slider-label-position="inside"
      data-slider-scale="0"
      data-slider-tickmarks="10"
      data-slider-snap="true"
      />
      <input 
      class="slider span8" 
      type="range" 
      min="0" 
      max="1000" 
      value="10"
      data-slider-buttons='true'
      data-slider-button-position="apart"
      data-slider-label-position="left"
      data-slider-scale="10"
      data-slider-tickmarks="10"
      data-slider-steps="100"
      data-slider-snap="true"
      data-slider-label-prefix="$"
      data-slider-label-suffix=".00"
      />

      <input 
      class="slider span8" 
      type="range" 
      min="0" 
      max="1000" 
      value="100"
      data-slider-buttons='true'
      data-slider-button-position="apart"
      data-slider-label-position="left"
      data-slider-scale="10"
      data-slider-tickmarks="10"
      data-slider-steps="100"
      data-slider-snap="true"
      data-slider-label-suffix="BTC"
      />
    </div>
  </div>
  <br />
  <hr />
  <br />
  <div class="container">

    <div class="row">
      
    </div>
  </div>
  </br>
  <div class="container">
    <div class="row">
      <input 
      class="slider span10" 
      type="range" 
      min="0" 
      max="500" 
      value="150" 
      data-slider-label-prefix="$" 
      data-slider-label-suffix=".00" 
      data-slider-button-position="together" 
      data-slider-highlight="#ec0000" 
      data-slider-tickmarks="0" 
      data-slider-label-position="inside" 
      data-slider-scale="5" 
      data-slider-buttons="true" 
      data-slider-snap="true"
      data-slider-steps="5"
      />
    </div>
  </div>


  <br />

  <div class="container">
    <div class="row">
      <input 
      class="slider span10" 
      type="range" 
      min="0" 
      max="500" 
      value="150" 
      data-slider-label-prefix="$"
      data-slider-label-suffix=".00"
      data-slider-button-position="apart"
      data-slider-highlight="#ff5400"
      data-slider-tickmarks="3"
      data-slider-label-position="left"
      data-slider-scale="10"
      data-slider-buttons="true"
      data-slider-snap="true"
      data-slider-steps="10"
      />
    </div>
  </div>

  <br />

  <div class="container">
    <div class="row">
      <input 
      class="slider span10" 
      type="range" 
      min="0" 
      max="500" 
      value="150" 
      data-slider-tickmarks="5"
      data-slider-label-prefix=""
      data-slider-label-suffix=" BTC"
      data-slider-button-position="together"
      data-slider-highlight="#009ae1"
      data-slider-label-position="left"
      data-slider-scale="5"
      data-slider-buttons="true"
      data-slider-snap="true"
      />
    </div>
  </div>

  <br />

  <div class="container">
    <div class="row">
      <input 
      class="slider span6" 
      type="range" 
      min="0" 
      max="500" 
      value="150" 
      data-slider-label-prefix=""
      data-slider-label-suffix=" BTC"
      data-slider-button-position="apart"
      data-slider-highlight="orange"
      data-slider-tickmarks="8"
      data-slider-label-position="inside"
      data-slider-scale="8"
      data-slider-buttons="true"
      data-slider-snap="true"
      />
    </div>
  </div>

  <br/>

  <div class="container">
    <div class="row">
      <input 
      class="slider span6" 
      type="range" 
      min="0" 
      max="500" 
      value="150" 
      data-slider-label-prefix=""
      data-slider-label-suffix=" BTC"
      data-slider-button-position="apart"
      data-slider-highlight="orange"
      data-slider-tickmarks="0"
      data-slider-label-position="inside"
      data-slider-scale="8"
      data-slider-buttons="true"
      data-slider-snap="true"
      />
    </div>
  </div>

  <br/>
  <div class="container">
    <div class="row">
      <input class="slider span7" type="range" min="0" max="500" value="150" 
      data-slider-snap="true" />
    </div>
  </div>
  <br />
  <div class="container">
    <div class="row">
      <input class="slider span5" type="range" min="0" max="500" value="150" 
      data-slider-snap="true" />
    </div>
  </div>
  

  <script src="../components/requirejs/require.js"></script>
  <script src="../js/require.config.js"></script>
  <script type="text/javascript">
    require.config({
      baseUrl: '../'
    });
    require(['jquery','slider'], function ($, slider) {
      $('.slider').slider({
        
        /*
        onCreate: function(argument) {
          console.log('onCreate');
          console.log(argument)
        },

        onChange: function(argument) {
          console.log('onChange')
          console.log(argument);
        },

        onSlide: function(argument) {
          console.log('onSlide');
          console.log(argument);
        },

        onStart: function(argument) {
          console.log('onStart');
          console.log(argument);
        },

        onStop: function(argument) {
          console.log('onStop');
          console.log(argument);
        }
        */

      });
    });
  </script>

</body>
</html>
