<!doctype html>
<html>
  <head>
    <link href="../css/hdx-modules.css" rel="stylesheet">
    <link href="../css/responsive.css" rel="stylesheet">
  </head>
  <body>

    <div class="well">
      <section class="module scrollable">
        <header class="module-header">Header</header>
        <div class="module-body" style="max-height: 100px;">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc odio tellus, porttitor sit amet gravida id, consectetur a mauris. Etiam eu justo turpis, eget condimentum nisi. Nulla at egestas justo. Morbi ut posuere nulla. Nulla tristique scelerisque felis, vel pharetra lorem pretium nec. Pellentesque vulputate hendrerit ligula in tincidunt. Sed condimentum dictum quam volutpat suscipit. In varius, diam eget accumsan ornare, magna quam volutpat felis, in pharetra eros metus eu lacus.</p>
          <p>Vestibulum tristique ullamcorper fringilla. Nullam imperdiet viverra nisi, malesuada tristique augue varius sed. Sed nisi odio, vehicula sed tincidunt id, rutrum sed quam. Praesent vestibulum, velit a tincidunt fermentum, urna est bibendum ligula, porta pharetra augue elit et lectus. Nunc gravida viverra velit, nec elementum libero vulputate vel. Donec hendrerit erat vel tortor accumsan dapibus. Nulla congue est sit amet dui imperdiet ut condimentum est adipiscing. Sed venenatis, magna at tincidunt scelerisque, purus erat suscipit massa, ac consectetur ligula lectus eu enim. Nulla fringilla erat id nisl ornare sodales. Sed nec lorem non eros tempus luctus. Proin vehicula augue auctor orci fermentum tristique. Praesent cursus, ligula eu gravida semper, velit tortor sodales nulla, vel tempor tellus erat a tortor.</p>
          <p>In tempus blandit lorem, a posuere urna dignissim eu. Phasellus semper ante id metus consequat commodo. Phasellus at porttitor arcu. Aliquam vulputate orci quis metus sodales in porta metus feugiat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Duis sed elit id enim malesuada pharetra nec ut turpis. Aenean gravida tempus laoreet. Phasellus mauris urna, feugiat non tristique non, dignissim vel lorem. Mauris vitae ante ut est lacinia scelerisque. Proin ut iaculis enim. In fringilla purus odio, condimentum feugiat dolor.</p>
        </div>
        <footer class="module-footer">Footer</footer>
      </section>
    </div>

  </body>
</html>
