{% extends "coinSite/base.html" %}
{% load staticfiles%}

{% block content %}
    
        <section id="hero" class="fill-container full hero">
          <div class="media">
            <img src="{% static "docs/assets/images/cwc_hero.jpg" %}">
          </div>
          <div class="container">
            <div class="row">
              <div class="text middle container">
                <h2>About the ITLP Beliefs' Coin</h2>
              </div>
            </div>
          </div>
        </section>  
    
    <div class="fill-wrapper content">

        <section class="mds-container last">
          <div class="row">
            <div class="col-md-12">
              <div class="block">
                <h1 class="title voice-brand">What is it?</h1>
                <p class="lead voice-brand">
                            The Coin is awarded to ITLPs who during their term exhibit and live the GE Beliefs with excellence.
                            By fully living the GE Beliefs, ITLPs serve as example for other associates in their network. 
                            This is a key part of creating the corporate culture and mindset GE has set as a top priority and opens up new opportunities with both colleagues and customers. 
                            These experiences will shape the future of the company and reveal the true meaning of being an ITLP.</p>
                <br>
                <h1 class="title voice-brand">Who is elegible?</h1>
                <p class="lead voice-brand">
                            The Coin can be awarded to any ITLP that has at least two stories approved during the two-year time of the program.</p>
                <br>
                <h1 class="title voice-brand">How are coins awarded?</h1>
                <p class="lead voice-brand">
                            Assignment Leaders, Business Representatives and Program Managers can award coins to the ITLPs, but only Program Managers can do it directly. 
                            Stories submitted by ALs and Business Reps have to be reviewed by the Committee. 
                            The Committee is notified per email when a new story is submitted and when the story gets approved the ALs, Business Reps and ITLP get notified about it. 
                            Approved stories are also posted to Colab, MyGEStory and the ITLP Blog. 
                            ITLPs who have at least two stories approved will receive their coin upon Graduation, this way we assure consistence in behavior and  an extra motivation.
                            <br>
                            <br>
                            Each rotation cycle Business Reps/Program Managers will have a pre-defined amount of coins, based on the number of submitted stories (15%). 
                            Stories should be submitted until the last business day of the cycle and only then will be reviewed.</p>
                <br>
                <h1 class="title voice-brand">Doubts? Just reach out to us!</h1>
                <p class="lead voice-brand">
                            Contact the ITLP Beliefs' Coin Committee via email at itlpcoin@ge.com.</p>
                <br>
              </div>
            </div>
          </div>
            
            
{% endblock %}

