{% extends "coinSite/base.html" %}
{% load staticfiles%}

{% block content %}

<section class="fill-container header-carousel carousel slide stacked">
          <div class="carousel-inner">
            <div class="item text fill-container full hero active">
              <div class="media">
                <img src="{% static "docs/assets/images/cl_hm_hero-1.png" %}">
              </div>
              <div class="container">
                <div class="row">
                  <div class="text bottom span5">
                    <a href="#">
                      <h1>ITLP Belief's Coin</h1>
                      <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h3>
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <div class="item fill-container full hero">
              <div class="media">
                <img src="{% static "docs/assets/images/cl_hm_hero-2.png" %}">
              </div>
              <div class="container">
                <div class="row">
                  <div class="text bottom span5">
                    <a href="#">
                      <h1>Amet Felsar Dolor</h1>
                      <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h3>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="item fill-container full hero">
              <div class="media">
                <img src="{% static "docs/assets/images/cl_hm_hero-3.png" %}">
              </div>
              <div class="container">
                <div class="row">
                  <div class="text bottom span5">
                    <a href="#">
                      <h1>Lorem Ipsum Dolor</h1>
                      <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h3>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <nav class="fill-container full-width teasers stacked"></nav>
        <section class="fill-container full-width news masonry">
          <div class="container">
            <header>
              <div class="row">
                <div class="col-md-12">
                  <h3 class="pull-left">ITLP Links</h3>
                </div>
              </div>
            </header>
            <div class="row">
              <div class="col-md-4">
                <div class="block feature home">
                  <div class="media">
                    <img src="{% static "img/Capture.PNG" %}">
                  </div>
                  <h3 class="title voice-brand">ITLP Blog</h3>
                  <p>
                    <span class="timestamp">October 14, 2013</span>Accusantium doloremque laudantium, totam rem aperiam,
                    eaque ipsa quae ab. Sed ut perspiciatis unde omnis iste natus.</p>
                  <br>
                  <p>
                    <a class="btn btn-link" href="https://itlpblog.com">Read More <i class="icon-ico_arrowright_lg"></i></a>
                  </p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="block feature home">
                  <div class="media">
                    <img class="center-block img-thumbnail" src="{% static "img/itlpcanvas_resize.png" %}">
                  </div>
                  <h3 class="title voice-brand">ITLP Canvas</h3>
                  <p>
                    <span class="timestamp">October 14, 2013</span>Odignis aliciam sum faccat qui nisquunt, sed ullaboreiur.
                    Pa de sam velendellab int volentior audae. Wporum voluptae. Itae et dita
                    conserionese laboratium vernam.</p>
                  <p>
                    <a class="btn btn-link" href="http://colab.ge.com/dashboard/canvas/v/52627950/home">Read More <i class="icon-ico_arrowright_lg"></i></a>
                  </p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="block feature home">
                  <div class="media">
                    <img class="center-block" src="{% static "img/itlpcapture.PNG" %}">
                  </div>
                  <h3 class="title voice-brand">ITLP Website</h3>
                  <p>
                    <span class="timestamp">October 14, 2013</span>Sed ut perspiciatis unde omnis iste natus error
                    sit voluptatem.</p>
                  <br>
                  <br>
                  <p>
                    <a class="btn btn-link" href="https://itlp.ge.com">Read More <i class="icon-ico_arrowright_lg"></i></a>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <!-- /container -->
        </section>
      </div>

{% endblock %}