{% extends "coinSite/base.html" %}
{% load staticfiles%}

{% block content %}
    
    
    <div class="fill-wrapper content">

        <section class="mds-container last">
          <div class="row">
            <div class="col-md-12">
              <div class="block">
                <h1 class="title voice-brand">Story Details</h1>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">    
                    <div class="thumbnail body person clearfix">
                        <p class="stats"><a href="#" class="name"><small>Submited by {{ post.coinGiver }} for </small>{{post.coinReceiverName}}</a> <small>from {{ post.receiverBusiness }} on </small></p>
                        <div class="responses">
                            <time class="message-time" datetime="MM:DD:YYTHH:MM:SS">{{ post.created_date }}</time>
                      </div>
                <h1>{{ post.storyTitle }}</h1>
                <p>{{ post.storyText|linebreaks }}</p>
            </div>
            
            
{% endblock %}

