{% extends "coinSite/base.html" %}
{% load staticfiles%}

{% block content %}
    <section id="hero" class="fill-container full hero">
          <div class="media">
            <img src="{% static "docs/assets/images/cwc_hero.jpg" %}">
          </div>
          <div class="container">
            <div class="row">
              <div class="text middle container">
                <h2>ITLP Beliefs Stories</h2>
              </div>
            </div>
          </div>
        </section>    
    
    
    
    <div class="fill-wrapper content">
        <section class="mds-container top-margin discussions">
          <header>
            <div class="row filter-tray">
              <div class="col-md-12">
                <div class="block clearfix">

                  <ul class="list-inline pull-left">
                    <li class="active">
                      <div class="btn-group">
                        <button class="btn btn-primary">Filter</button>
                        <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><i class="icon-ico_chevron_down_lg"></i></button>
                        <ul class="dropdown-menu">
                          <li><a href="#">Action</a></li>
                          <li><a href="#">Another action</a></li>
                          <li><a href="#">Something else here</a></li>
                          <li class="divider"></li>
                          <li><a href="#">Separated link</a></li>
                        </ul>
                      </div>
                    </li>
                </div>
              </div>
            </div>

          </header>    
          
          <div class="row">

            <ul class="discussion-list col-md-12">
                {% for post in posts %}
            <li class="discussion-item">
                <div class="row">
                  <div class="block col-md-8">
                    <div class="thumbnail body person clearfix">
                      <p class="stats"><a href="#" class="name">{{post.coinReceiverFirstName}}</a> <small>from {{ post.receiverBusiness }}</small></p>
                      <h6><a href="{% url "post_detail" pk=post.pk %}">{{ post.storyTitle }}</a></h6>
                      <p class="body">{{ post.storyText|linebreaks }}</p>
                      <div class="responses">
                        <time class="message-time" datetime="MM:DD:YYTHH:MM:SS">{{ post.published_date }}</time>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock content %}




