<!doctype html>
<html>
  <head>
    <link href="../css/hdx-declarative-visualizations-lights-off.css" rel="stylesheet">
    <link href="../css/responsive.css" rel="stylesheet">
  </head>
  <body class='test-container'>

  <div>
      <div data-visualization="speedometer" data-max="100" data-value="80" data-threshold="70" class="warning"></div>
  </div>
    <script src="../components/requirejs/require.js"></script>
    <script src="../js/require.config.js"></script>
    <script type="text/javascript">
    
      require.config({
        "baseUrl": "../"
      });
      require(['hdx-declarative-visualizations'], function(visualizations) {
        $('div[data-visualization="speedometer"]').each(function(i, element) {
          var speedometer = visualizations.speedometer(element);
      
        });
      });
      
    </script>

  </body>
</html>

