
.input-field {
    padding-left:2em ;
    padding-right: 10em;
    } 
    
.input-label {
    padding-left:1em ;
    padding-right: 10em;
    }    
    
.btn-pad {
    padding-left:1em ;
    padding-right: 10em;
    }
    
    
    